<!DOCTYPE html>
<html lang="en">
	<head>
		<title>consultarNombreHeroe</title>
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.2.1.js"></script>
		<script src="js/script.js"></script>
		<script src="js/superfish.js"></script>
		<script src="js/jquery.ui.totop.js"></script>
		<script src="js/jquery.equalheights.js"></script>
		<script src="js/jquery.mobilemenu.js"></script>
		<script>
			$(document).ready(function(){
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
		
	</head>
	<body class="" id="top">
		<div class="main">
<!--==============================header=================================-->
			<header>
				<div class="container_12">
					<div class="grid_12">
						<div class="socials">
							<a href="#" class="fa fa-twitter"></a>
							<a href="#" class="fa fa-facebook"></a>
							<a href="#" class="fa fa-google-plus"></a>
							<a href="#" class="fa fa-instagram"></a>
						</div>
						<h1>
							<a href="index.html">
								<img src="images/logo.png" alt="GameTech">
							</a>
						</h1>
						<div class="menu_block">
							<nav class="horizontal-nav full-width horizontalNav-notprocessed">
								<ul class="sf-menu">
									<li><a href="/">Home</a></li>
									<li class="current"><a href="/login">Login</a></li>
									<li><a href="/registroGeneral">Registro</a></li>
									<li><a href="/quienessomos">¿Quienes somos?</a></li>		
								</ul>
							</nav>
							<div class="clear"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</header>
<!--==============================Content=================================-->
			<div class="content">
				<div class="container_12"><CENTER>
					<div class="grid_12">
					<h2>LISTA DE HEROES</h2>
					</div>
					<div>--------------------------------------------------------------------------------------</div>
					<table>

						<thead>
							<tr>
								<th><h4>Nombre<h4></th>
								<th>Descripcion</th>
								<th>Posicion</th>
								<th>Vida</th>
								<th>Ataque</th>
								<th>Defensa</th>
								<th>Mana</th>
								<th>Dificultad</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{nombre}}</td>
								<td>{{descripcion}}</td>
								<td>{{posicion}}</td>
								<td>{{vida}}</td>
								<td>{{ataque}}</td>
								<td>{{defensa}}</td>
								<td>{{mana}}</td>
								<td>{{dificultad}}</td>
							</tr>
						</tbody>
					</table></div>					
						
			</div>
		<div class="clear"></div>
		
		<form action="/consultarHeroe" method="post">
			<TABLE align="center" BORDER=0 BGCOLOR=#000000>
				<TR>
					<TH BGCOLOR=#000000><input type="submit" value="Volver"
						style="background-color: silver; height: 75px; width: 300px; border: 1px solid #000000; font-weight: bold; font-size: 20px;">
						
				</TR>
			</TABLE>


			<!-- </div><h3 class="head1 center">Gametech somos David, Ruben y David</h3></div> -->
	</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		</CENTER>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="f_logo">
						<a href="index.html">GameTech</a>
					</div>
					<div class="f_contacts">
						<a href="#" class="mail_link"><span class="fa fa-envelope"></span> GameTech@gmail.com</a>
					</div>
					
				</div>
				<div class="clear"></div>
			</div>
		</footer>
	</body>
</html>
