<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Login</title>
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.2.1.js"></script>
		<script src="js/script.js"></script>
		<script src="js/superfish.js"></script>
		<script src="js/jquery.ui.totop.js"></script>
		<script src="js/jquery.equalheights.js"></script>
		<script src="js/jquery.mobilemenu.js"></script>
		<script>
			$(document).ready(function(){
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
		
	</head>
	<body class="" id="top">
		<div class="main">
<!--==============================header=================================-->
			<header>
				<div class="container_12">
					<div class="grid_12">
						<div class="socials">
							<a href="#" class="fa fa-twitter"></a>
							<a href="#" class="fa fa-facebook"></a>
							<a href="#" class="fa fa-google-plus"></a>
							<a href="#" class="fa fa-instagram"></a>
						</div>
						<h1>
							<a href="index.html">
								<img src="images/logo.png" alt="GameTech">
							</a>
						</h1>
						<div class="menu_block">
							<nav class="horizontal-nav full-width horizontalNav-notprocessed">
								<ul class="sf-menu">
									<li><a href="/">Home</a></li>
									<li class="current"><a href="/login">Login</a></li>
									<li><a href="/registroGeneral">Registro</a></li>
									<li><a href="/quienessomos">¿Quienes somos?</a></li>		
								</ul>
							</nav>
							<div class="clear"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</header>
<!--==============================Content=================================-->
			<div class="content">
				<div class="container_12"><CENTER>
					<div class="grid_12">
						<h3>LOGIN</h3>
					</div>	
						<body>				
						<div class="inner">						
							<form method="post" action="/login">
								<h8>Introduce tus datos</h8>
								<div class="clear"></div>
								<div class="form-wrapper">
									<input type="text" placeholder="Introduce tu correo" name=email>
									<p></p>
									<div class="clear"></div>
								</div> 
								<div class="clear"></div>
								<div class="form-wrapper">
									<div class="clear"></div>
									<input type="password" placeholder="Introduce tu contraseña" name=pass>
									<div class="clear"></div>
									<input type="hidden" name="_csrf" value={{token}}>	
									<i class="zmdi zmdi-lock"></i>
									<div class="clear"></div>
									<p></p>
								</div> 
							
								
								<button class ="zmdi zmdi-arrow-right">ENTRAR</button>
							</form>
							<div> 
							<input type="checkbox"> Recuérdame
							</div> 
							<div> 
							<a href="registroGeneral">¿Aún no eres miembro de GameTech?</a>
							</div> 
						</div>
					</div>
											
						
					</div>
						<div class="clear"></div>
												
						
						<!-- </div><h3 class="head1 center">Gametech somos David, Ruben y David</h3></div> -->
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		</CENTER>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="f_logo">
						<a href="index.html">GameTech</a>
					</div>
					<div class="f_contacts">
						<a href="#" class="mail_link"><span class="fa fa-envelope"></span> GameTech@gmail.com</a>
					</div>
					
				</div>
				<div class="clear"></div>
			</div>
		</footer>
	</body>
</html>
