<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Registro Heroe</title>
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.2.1.js"></script>
		<script src="js/script.js"></script>
		<script src="js/superfish.js"></script>
		<script src="js/jquery.ui.totop.js"></script>
		<script src="js/jquery.equalheights.js"></script>
		<script src="js/jquery.mobilemenu.js"></script>
		<script>
			$(document).ready(function(){
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
		
	</head>
	<body class="" id="top">
		<div class="main">
<!--==============================header=================================-->
			<header>
				<div class="container_12">
					<div class="grid_12">
						<div class="socials">
							<a href="#" class="fa fa-twitter"></a>
							<a href="#" class="fa fa-facebook"></a>
							<a href="#" class="fa fa-google-plus"></a>
							<a href="#" class="fa fa-instagram"></a>
						</div>
						<h1>
							<a href="index.html">
								<img src="images/logo.png" alt="GameTech">
							</a>
						</h1>
						<div class="menu_block">
							<nav class="horizontal-nav full-width horizontalNav-notprocessed">
								<ul class="sf-menu">
									<li><a href="/">Home</a></li>
									<li><a href="/login">Login</a></li>
									<li class="current"><a href="/registroGeneral">Registro</a></li>
									<li><a href="/quienessomos">¿Quienes somos?</a></li>		
								</ul>
							</nav>
							<div class="clear"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</header>
<!--==============================Content=================================-->
			<div class="content">
				<div class="container_12"><CENTER>
					<div class="grid_12">
						<h3>AGREGAR HEROE</h3>
					</div>	
						<body>				
						<div class="inner">						
							<form method="POST" action="nuevoHeroe">
								<h8>Formulario de Heroe</h8>
								<div class="form-group">
									<input type="text" placeholder="Introduce un nombre" name=nombre class="form-control">
									<p></p>
									<div class="clear"></div>
								  	<input type="text" placeholder="Introduce descripcion" name=descripcion class="form-control">
								  	<p></p>
								  	<div class="clear"></div>
								  	<input type="text" placeholder="Introduce posicion" name=posicion class="form-control">
								  	<p></p>
								  	<div class="clear"></div>
								  	<input type="text" placeholder="Introduce la vida" name=vida class="form-control">
								  	<p></p>
 								  	<div class="clear"></div>
								  	<input type="text" placeholder="Introduce el ataque" name=ataque class="form-control">
								  	<p></p>
									<div class="clear"></div>
								  	<input type="text" placeholder="Introduce la defensa" name=defensa class="form-control">
								  	<p></p>
									<div class="clear"></div>
								  	<input type="text" placeholder="Introduce el mana" name=mana class="form-control">
								  	<p></p>
								  	<div class="clear"></div>
								  	<input type="text" placeholder="Introduce  dificultad" name=dificultad class="form-control">
								  	<p></p>
								</div>
							
						
								<button class ="zmdi zmdi-arrow-right"> Registrar</button>
							</form>
						</div>
					</div>
											
						
					</div>
						<div class="clear"></div>
						<!-- </div><h3 class="head1 center">GameTech somos David, Ruben y David</h3></div> -->
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		</CENTER>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="f_logo">
						<a href="index.html">GameTech</a>
					</div>
					<div class="f_contacts">
						<a href="#" class="mail_link"><span class="fa fa-envelope"></span> GameTech@gmail.com</a>
					</div>
					
				</div>
				<div class="clear"></div>
			</div>
		</footer>
	</body>
</html>

